body {
    text-align: center;
    background-color: #f0f0f0; /* Light gray background */
}

#headerSection {
    padding: 5px;
}

#headerSection h1 {
    font-family: cursive;
}

input {
    padding: 10px;
    border-radius: 5px;
}

#dropbox {
    padding: 10px;
    border-radius: 5px;
    width: 15%;
}

#loginbtn {
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(66, 85, 85);
    color: blanchedalmond;
}